{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>🛒 TechStore</h2>

    <div class="row">

        {% for producto in productos %}

            <div class="col-md-3">

                <div class="card mb-3">

                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" class="card-img-top">
                    {% else %}
                        <img src="https://via.placeholder.com/250x180" class="card-img-top">
                    {% endif %}

                    <div class="card-body">
                        <h5>{{ producto.nombre }}</h5>

                        <p>{{ producto.descripcion|truncatechars:80 }}</p>

                        <strong class="text-success">
                            S/. {{ producto.precio }}
                        </strong>

                        <!-- 🛒 BOTÓN AGREGAR AL CARRITO -->
                        <a href="/carrito/agregar/{{ producto.id }}/" class="btn btn-primary btn-sm mt-2">
                            Agregar al carrito
                        </a>

                    </div>

                </div>

            </div>

        {% empty %}
            <p>No hay productos disponibles</p>
        {% endfor %}

    </div>

</div>

{% endblock %}